<div id="reset_form" class="text-center">
  <%= form_with(model: task, url: task_reset_path(task)) do |form| %>
    <%= form.submit 'Reset', class: 'btn btn-sm btn-danger', disabled: !task.revealed %>
  <% end %>
</div>