<%= turbo_stream_from 'tasks' %>

<div class="container">
  
  <div class="row my-5">
    <div class="col-6">
      <%= turbo_frame_tag 'task_title' do %>
        <%= render 'tasks/form', task: @task %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3>Tasks</h3>
      <ul class="list-group" id="tasks">
        <%= render @tasks %>
      </ul>
    </div>
  </div>

</div>